<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
       <script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
if (!!window.EventSource) {
  var source = new EventSource('/sketch');
  console.log(source)
  source.onmessage = function(e) {
    console.log(e)
	var byte = e.data;
	var res = byte.split(/\s/);
    <!--res.forEach(byte => console.log(byte)); -->
	console.log(res[0])
	console.log(res[1])
    $("#morse").text(res[0].slice(1,));
	$("#word").text(res[1].slice(1,));
  }
}
</script>
</head>
<body>
<div class="letter">
    <div id="morse" class="info">nothing received yet</div>
	 <div id="word" class="kbd">nothing received yet</div>

   </div>
</body>
</html>